<div data-controller="hello">
  <button data-action="click->hello#say_hello">Say hello!</button>
  <h1 data-target="hello.output"></h1>
  <h2 data-target="hello.output"></h2>
  <h3 data-target="hello.output"></h3>
  <h4 data-target="hello.output"></h4>
  <h4 data-target="hello.output"></h4>
  <h5 data-target="hello.output"></h5>
</div>
